<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender.  Typically used during dev-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling file appender.  One file / day. Max 30 days or 100MB -->
    <property name="LOG_FILE" value="worldbank_feedback"/>
    <property name="LOG_DIR" value="logs/siren"/>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy/MM}/${LOG_FILE}.%i.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root level logger -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
    </root>

    <!-- Additional package level loggers -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.type" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.flywaydb.core" level="INFO"/>

</configuration>
